
.img__container img{
    max-width: 18rem;
    border-radius: 4px;
    min-height: 17rem;
    background-color: #fff;
}

.img__container div:last-child{
    background-color: #fff;
    border-radius: 4px;
}
/* .img__container div:last-child img{
    height:20rem;
    object-fit: cover;
    background-color: #00000;

} */
.img__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 4rem ;
}

@media (max-width:1000px){
    .img__container{
        flex-direction: column;
    }
    .img__container img{
        margin-bottom: 5px;
    }
    
}
@media (max-width:1144px){
    .img__container img{
        /* margin-right: 3rem; */
    }
    
}