$colors:(
    primary:#2584ff,
    secondary:#00d9ff,
    accent:#1b0760,
    body:#918ca4,
    body-darker:darken(#918ca4,40%),
    border:#ccc,
    border-radius:5px
);

@function color($key:name){
    @return map-get($colors,name );
}

*,*::before, *::after {
    box-sizing: border-box;
}

::selection {
    background: color(primary);
    color:crimson;
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    color: color(body);
}

html,body{
    h1,h2,h3 {
        color: color(color--headings);
        margin-bottom: 1rem;
        line-height: 1.1;
    }

    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 1.3;
    }

    p {
        margin-top: 0;
    }

    a {
        text-decoration: none;
    }
}

$desktop:1024;

@mixin desktop {
    
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }
    h2 {
        font-size: 4rem;
    }

    h3{
        font-size: 2.4rem;
    }

}

